*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
    color: #161616;
}

.border {
    border: 1px solid #ff0000;
}

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100%;
    /*align-items: flex-start; */
    border-right: 1px solid #686868;
    padding: 80px 10px 30px 10px;
    z-index: 1;
    left: 0;
    background-color: #999999;
    overflow-x: hidden;
    box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
    text-align: center;
    padding-bottom: 20px;
}

.my-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #686868;
    box-shadow: 0px 0px 20px 0px #686868;
}

.sidebar-header button {
    background-color: transparent;
    border: 0;
    transition-duration: transform 0.3s ease-in-out;
    transform: scale(0.5);
    cursor: pointer;
    padding: 0;
}

.sidebar-header button:hover {
    transform: scale(0.66);
}

.sidebar-header > h2 {
    text-shadow: 4px 4px 13px #686868;
}

.navbar a {
    font-size: 20px;
    display: block;
    color: #161616;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}

.sidebar > nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main {
    margin-left: 380px;
    /* margin-right: 6px; */

    overflow: hidden;
}

#inicio {
    margin-top: 200px;
    margin-bottom: 140px;
}

#inicio p {
    font-size: 40px;
    margin-top: 0px;
    margin-left: 80px;
}

.hidden {
    opacity: 0;
    transform: translateX(0px);
}

.visible {
    opacity: 1;
    transform: translate(50px, 50px);
    transition: opacity 2s, transform 2s;
}

.name-animataded {
    font-size: 100px;
    margin-top: 50px;
    margin-left: 130px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid #161616;
    width: 5ch;
    animation: typing 1.2s steps(5), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.name-animataded.no-cursor {
    animation: typing 0.5s steps(5);
    border-right: none;
}

section > h2 {
    font-size: 50px;
    border-left: 8px solid #999999;
    padding-left: 8px;
    margin-bottom: 10px;
}

#sobre {
    padding-top: 160px;
    margin-bottom: 250px;
}

#sobre p {
    margin-left: 19px;
    margin-right: 150px;
    font-size: 21px;
    letter-spacing: 1px;
    text-align: justify;
    text-justify: inter-word;
}

#tecnologias {
    padding-top: 50px;
    margin-bottom: 400px;
}

#tecnologias > img {
    transform: scale(0.6);
    transition-duration: transform 0.3s ease-in-out;
}

#tecnologias img:hover {
    transform: scale(0.7);
}

#projetos {
    margin-bottom: 500px;
}